allow bluetooth bluetooth_efs_file:file open;
allow bluetooth bluetooth_dev:chr_file { write open };
allow bluetooth proc_bthc:dir search;
allow bluetooth proc_bthc:file { open read write };
