allow cameraserver init:unix_stream_socket connectto;
allow cameraserver property_socket:sock_file write;
allow cameraserver system_data_file:sock_file write;
