allow cameraserver camera_socket:sock_file write;
allow cameraserver init:unix_stream_socket connectto;
allow cameraserver property_socket:sock_file write;
allow cameraserver system_data_file:sock_file write;
allow cameraserver system_file:file execmod;
allow cameraserver system_prop:property_service set;
allow cameraserver tmpfs:dir search;
