type macloader, domain;
type macloader_exec, exec_type, file_type;
init_daemon_domain(macloader)

allow macloader self:capability { chown dac_override fowner };
allow macloader efs_file:dir search;
allow macloader system_data_file:dir add_name;
allow macloader wifi_data_file:file { rw_file_perms setattr };
allow macloader wifi_efs_file:file rw_file_perms;
