allow system_server self:process execmem;

allow system_server efs_file:dir search;
allow system_server keypad_dev:file rw_file_perms;
allow system_server mdm_device:chr_file r_file_perms;
allow system_server panel_dev:file rw_file_perms;
allow system_server sensors_efs_file:file rw_file_perms;
allow system_server system_file:file execmod;
allow system_server time_daemon:unix_stream_socket connectto;
allow system_server vibe_dev:file rw_file_perms;
allow system_server wifi_efs_file:file r_file_perms;

allow system_server sysfs_thermal:dir search;
allow system_server sysfs_thermal:file r_file_perms;
