allow system_app shell_data_file:dir search;
allow system_app panel_dev:file { open read write getattr };
allow system_app timekeep_prop:property_service set;
