allow thermal-engine self:capability { net_admin chown sys_nice };
allow thermal-engine self:netlink_kobject_uevent_socket { read bind setopt };
allow thermal-engine sysfs_devices_system_cpu:file write;

