allow ueventd keypad_dev:file getattr;
allow ueventd panel_dev:file getattr;
allow ueventd vfat:dir search;
allow ueventd vfat:file r_file_perms;
allow ueventd vibe_dev:file getattr;
